body,
select,
input,
button,
textarea {
  font: {
    family: 'Source Code Pro', monospace !important;
    size: 0.8rem;
  }
}
main {
  &.no-back {
    button {
      &.back {
        display: none;
      }
    }
  }
  button {
    &.back {
      margin: {
        top: 3rem;
      }
    }
  }
}


// Flights Finder
#flights-finder {
  border: {
    top: 2px solid rgba(0, 0, 0, 0.8);
  };
  height: 100%;
  padding: 1rem;

  form {

  }
  #flights-container {

  }
} 
